In [2]:
import pandas as pd

In [27]:
links_df = pd.read_csv("data/links.csv")
movies_df = pd.read_csv("data/movies.csv")
ratings_df = pd.read_csv("data/ratings.csv")
tags_df = pd.read_csv("data/tags.csv")

In [13]:
links_df.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [9]:
movies_df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [10]:
ratings_df.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [11]:
tags_df.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [29]:
ratings_df['timestamp'] = pd.to_datetime(ratings_df['timestamp'], unit='s', utc=True)

In [51]:
genres_df = movies_df.assign(genres=movies_df.genres.str.split('|')).explode('genres')
genres_df.head()

   movieId             title     genres
0        1  Toy Story (1995)  Adventure
0        1  Toy Story (1995)  Animation
0        1  Toy Story (1995)   Children
0        1  Toy Story (1995)     Comedy
0        1  Toy Story (1995)    Fantasy

In [60]:
pd.merge(
    ratings_df.loc[ratings_df['timestamp'].dt.year == 2005].groupby('movieId', as_index=False).mean(),
    genres_df,
    how='left',
    on='movieId'
)[['genres', 'rating']].groupby('genres', as_index=False).mean().sort_values(by='rating', ascending=False)

         genres    rating
9     Film-Noir  3.958065
6   Documentary  3.676136
18      Western  3.579630
17          War  3.561081
11         IMAX  3.532420
7         Drama  3.528778
5         Crime  3.521347
13      Mystery  3.425492
14      Romance  3.419474
16     Thriller  3.401465
2     Animation  3.365231
12      Musical  3.318309
0        Action  3.278594
1     Adventure  3.206680
15       Sci-Fi  3.198710
8       Fantasy  3.159597
4        Comedy  3.106397
10       Horror  3.031223
3      Children  2.801140

In [47]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy